
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>MvcStokTakipÖrnek</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css" />
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MVC Stok</a>
            </div>
            <ul class="nav navbar-nav">
                <li> <a href="/Kategori/Index">Kategoriler</a></li>
                <li><a href="/Urun/Index">Ürünler</a></li>
                <li><a href="/Musteri/Index">Müşteriler</a></li>
                <li><a href="/Hakkında/Index">Hakkımda</a></li>
            </ul>
        </div>
    </nav>
 
    <div class="container">
       @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
