@model MvcStok.Models2.Tblkategoriler
@{
    ViewData["Title"] = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Kategori Adı</label>
        @Html.TextBoxFor(m=>m.Kategoriad, new {@class = "form-control"})
        @Html.ValidationMessageFor(m=>m.Kategoriad,"",new {@style ="color:red"})
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Kategori Ekle</button>
    </div>
</form>

